.header-container{
  width: 100vw;
  height: 64px;
  background: rgb(176, 176, 176);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-left: 2%;
  box-shadow: 1px 3px 5px gray;
}

.logo{
  border-radius: 10%;
}

.logo a {
  text-decoration: none;
}
.logo h2{
  font-weight: 700;
  color: white;
  margin-left: 10px;
  margin-top: 2%;
  margin-bottom: 20%;
}

.navlinks {
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 10px;
  margin-right: 48px
}

.navlinks > div a{
  text-decoration: none;
  font-size: 20px;
}

.inactive{
  color: white;
}
.nowActive{
  color: rgb(43, 42, 42);
  font-weight: 700;
  
}

.mainContainer{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-direction: auto 1fr auto;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  flex: auto 1fr;
  width: 100vw;
}
.hero{
  height: 100%;
  width: 100%;
  /* margin-bottom: 10%; */
  background: linear-gradient(163deg, green 50%, yellow 50%);
  padding: 10%;
}

.footerContainer{
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.footer{
  display: absolute;
  bottom: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(240, 47, 33);
  height: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
}
.menuBottom{
  display: flex;
  justify-content: end;
}

.logoFooter h4{
  color: white;
  font-weight: 700;
}

.textHero {
  height: 40%;
  width: 50%;
  
}

.textHero p {
  font-size: 20px;
  
}

/* content */

