.header-container{
  background: rgb(240, 47, 33);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
  box-shadow: 1px 3px 5px gray;
}

.logo{
  border: solid white 2px;
  border-radius: 10%;
  margin: 2%;
  padding-right: 3%;
}
.dot{
  background: white;
  border: solid 4px white;
  margin-top: 20%;
  margin-left: 10%;
  border-radius: 100%;
  height: 10%;
  width: 10%;
}
.logo a {
  text-decoration: none;
}
.logo h2{
  font-weight: 700;
  color: white;
  margin-left: 10px;
  margin-top: 2%;
  margin-bottom: 20%;
}

.navlinks {
  display: flex;
  justify-content: end;
  list-style-type: none;
  gap: 10px;
  padding: 5px;
  margin-bottom: 0px;
}

.navlinks > div a{
  text-decoration: none;
  font-size: 20px;
}

.inactive{
  color: white;
}
.nowActive{
  color: rgb(43, 42, 42);
  font-weight: 700;
  
}

.mainContainer{
  height: 100%;
  margin: 0;
  background: rgb(233, 238, 198);
}
.homeContainer{
  display: flex;
  flex-direction: column;
  flex: auto auto;
  height: 100%;
  padding-top: 10%;
}
.hero{
  height: 100%;
  width: 100%;
  margin-bottom: 10%;
  background: linear-gradient( 135deg, yellow, blue,
  );
}


.footer{
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(33, 105, 240);
  height: 20%;
}
.menuBottom{
  display: flex;
  justify-content: end;
}

.logoFooter h4{
  color: white;
  font-weight: 700;
}

.textHero {
  height: 40%;
  width: 50%;
  
}

.textHero p {
  font-size: 20px;
  
}

/* content */
.content{
  height: 50%;
  margin-bottom: 20px;
  background: yellow;
}
.contentContainer{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.worksInfo{
  height: 100%;
  background-color: blue;
  color: white;
  width: 50%;
  height: 100%;
}
.worksPic{
  width: 50%;
  height: 100%;
}